/* [project]/public/assets/css/unicons.min.css [app-client] (css, ) */
@font-face {
  font-family: Unicons;
  src: url("/_next/static/media/Unicons.9fe18cec.eot");
  src: url("/_next/static/media/Unicons.9fe18cec.eot") format("embedded-opentype"), url("/_next/static/media/Unicons.dcf3c92c.ttf") format("truetype"), url("/_next/static/media/Unicons.094c9795.woff") format("woff"), url("/_next/static/media/Unicons.1f1d247a.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="unicon-"], [class*=" unicon-"] {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Unicons !important;
}

.unicon-grid-filled:before {
  content: "";
}

.unicon-logo-facebook-alt:before {
  content: "";
}

.unicon-shopping-basket:before {
  content: "";
}

.unicon-logo-dribbble:before {
  content: "";
}

.unicon-cart:before {
  content: "";
}

.unicon-cloud:before {
  content: "";
}

.unicon-download-cloud:before {
  content: "";
}

.unicon-drizzle-cloud:before {
  content: "";
}

.unicon-lightning-cloud:before {
  content: "";
}

.unicon-message-circle:before {
  content: "";
}

.unicon-message-square:before {
  content: "";
}

.unicon-rain-cloud:before {
  content: "";
}

.unicon-snow-cloud:before {
  content: "";
}

.unicon-sun:before {
  content: "";
}

.unicon-sunrise:before {
  content: "";
}

.unicon-sunset:before {
  content: "";
}

.unicon-thermometer:before {
  content: "";
}

.unicon-umbrella1:before {
  content: "";
}

.unicon-upload-cloud:before {
  content: "";
}

.unicon-wind:before {
  content: "";
}

.unicon-document-alt-filled:before {
  content: "";
}

.unicon-document-alt:before {
  content: "";
}

.unicon-document-blank-filled:before {
  content: "";
}

.unicon-folder-filled:before {
  content: "";
}

.unicon-user-group-filled:before {
  content: "";
}

.unicon-image-gallery-filled:before {
  content: "";
}

.unicon-image-slider-filled:before {
  content: "";
}

.unicon-checkbox-checked-filled:before {
  content: "";
}

.unicon-checkmark-alt:before {
  content: "";
}

.unicon-checkmark-outline-filled:before {
  content: "";
}

.unicon-email-filled:before {
  content: "";
}

.unicon-image-filled:before {
  content: "";
}

.unicon-star-half-alt-filled:before {
  content: "";
}

.unicon-star-half-filled:before {
  content: "";
}

.unicon-trophy-filled:before {
  content: "";
}

.unicon-view-alt-filled:before {
  content: "";
}

.unicon-delete-filled:before {
  content: "";
}

.unicon-add-alt-filled:before {
  content: "";
}

.unicon-asleep-filled:before {
  content: "";
}

.unicon-blog-filled:before {
  content: "";
}

.unicon-bookmark-filled:before {
  content: "";
}

.unicon-data-1-filled:before {
  content: "";
}

.unicon-home-filled:before {
  content: "";
}

.unicon-idea-filled:before {
  content: "";
}

.unicon-layers-filled:before {
  content: "";
}

.unicon-location-filled:before {
  content: "";
}

.unicon-locked-filled:before {
  content: "";
}

.unicon-logo-instagram-filled:before {
  content: "";
}

.unicon-logo-x-filled:before {
  content: "";
}

.unicon-logo-x:before {
  content: "";
}

.unicon-phone-filled:before {
  content: "";
}

.unicon-printer-filled:before {
  content: "";
}

.unicon-reply-filled:before {
  content: "";
}

.unicon-request-quote-filled:before {
  content: "";
}

.unicon-security-filled:before {
  content: "";
}

.unicon-settings-adjust-filled:before {
  content: "";
}

.unicon-settings-filled:before {
  content: "";
}

.unicon-share-filled:before {
  content: "";
}

.unicon-shopping-cart-alt-filled:before {
  content: "";
}

.unicon-shopping-cart-alt:before {
  content: "";
}

.unicon-shopping-cart-filled:before {
  content: "";
}

.unicon-skill-level-filled:before {
  content: "";
}

.unicon-sub-volume-filled:before {
  content: "";
}

.unicon-tag-filled:before {
  content: "";
}

.unicon-tag-group-filled:before {
  content: "";
}

.unicon-time-filled:before {
  content: "";
}

.unicon-tools-filled:before {
  content: "";
}

.unicon-unlocked-filled:before {
  content: "";
}

.unicon-user-filled:before {
  content: "";
}

.unicon-account:before {
  content: "";
}

.unicon-activity:before {
  content: "";
}

.unicon-add-alt:before {
  content: "";
}

.unicon-add:before {
  content: "";
}

.unicon-airplay-filled:before {
  content: "";
}

.unicon-airplay:before {
  content: "";
}

.unicon-airport-location:before {
  content: "";
}

.unicon-analytics:before {
  content: "";
}

.unicon-api:before {
  content: "";
}

.unicon-archive:before {
  content: "";
}

.unicon-area:before {
  content: "";
}

.unicon-arrow-down:before {
  content: "";
}

.unicon-arrow-left:before {
  content: "";
}

.unicon-arrow-right:before {
  content: "";
}

.unicon-arrow-up-right:before {
  content: "";
}

.unicon-arrow-up:before {
  content: "";
}

.unicon-asleep:before {
  content: "";
}

.unicon-attachment:before {
  content: "";
}

.unicon-audio-console:before {
  content: "";
}

.unicon-augmented-reality:before {
  content: "";
}

.unicon-auto-scroll:before {
  content: "";
}

.unicon-awake:before {
  content: "";
}

.unicon-back-to-top:before {
  content: "";
}

.unicon-bar:before {
  content: "";
}

.unicon-barrier:before {
  content: "";
}

.unicon-bastion-host:before {
  content: "";
}

.unicon-blog:before {
  content: "";
}

.unicon-book:before {
  content: "";
}

.unicon-bookmark-add:before {
  content: "";
}

.unicon-bookmark:before {
  content: "";
}

.unicon-box:before {
  content: "";
}

.unicon-brightness-contrast:before {
  content: "";
}

.unicon-brush-freehand:before {
  content: "";
}

.unicon-building:before {
  content: "";
}

.unicon-calendar:before {
  content: "";
}

.unicon-camera:before {
  content: "";
}

.unicon-carbon:before {
  content: "";
}

.unicon-caret-down:before {
  content: "";
}

.unicon-caret-left:before {
  content: "";
}

.unicon-caret-right:before {
  content: "";
}

.unicon-caret-sort:before {
  content: "";
}

.unicon-caret-up:before {
  content: "";
}

.unicon-carousel-horizontal:before {
  content: "";
}

.unicon-carousel-vertical:before {
  content: "";
}

.unicon-categories:before {
  content: "";
}

.unicon-cd-archive:before {
  content: "";
}

.unicon-center-circle:before {
  content: "";
}

.unicon-center-to-fit:before {
  content: "";
}

.unicon-certificate:before {
  content: "";
}

.unicon-chart-column:before {
  content: "";
}

.unicon-chart-line-data:before {
  content: "";
}

.unicon-chart-pie:before {
  content: "";
}

.unicon-chart-ring:before {
  content: "";
}

.unicon-chart-stacked:before {
  content: "";
}

.unicon-chart-treemap:before {
  content: "";
}

.unicon-chart-venn-diagram:before {
  content: "";
}

.unicon-chat-bot:before {
  content: "";
}

.unicon-chat-launch:before {
  content: "";
}

.unicon-chat:before {
  content: "";
}

.unicon-checkbox-checked:before {
  content: "";
}

.unicon-checkbox:before {
  content: "";
}

.unicon-checkmark-outline:before {
  content: "";
}

.unicon-checkmark:before {
  content: "";
}

.unicon-chevron-down:before {
  content: "";
}

.unicon-chevron-left:before {
  content: "";
}

.unicon-chevron-mini:before {
  content: "";
}

.unicon-chevron-right:before {
  content: "";
}

.unicon-chevron-sort-down:before {
  content: "";
}

.unicon-chevron-sort-up:before {
  content: "";
}

.unicon-chevron-sort:before {
  content: "";
}

.unicon-chevron-up:before {
  content: "";
}

.unicon-circle-dash:before {
  content: "";
}

.unicon-circle-measurement:before {
  content: "";
}

.unicon-clean:before {
  content: "";
}

.unicon-close-outline:before {
  content: "";
}

.unicon-close:before {
  content: "";
}

.unicon-cloud-download:before {
  content: "";
}

.unicon-cloud-lightning:before {
  content: "";
}

.unicon-cloud-satellite:before {
  content: "";
}

.unicon-cloud-upload:before {
  content: "";
}

.unicon-cobb-angle:before {
  content: "";
}

.unicon-code:before {
  content: "";
}

.unicon-collaborate:before {
  content: "";
}

.unicon-collapse-all:before {
  content: "";
}

.unicon-color-palette:before {
  content: "";
}

.unicon-color-switch:before {
  content: "";
}

.unicon-column:before {
  content: "";
}

.unicon-compare:before {
  content: "";
}

.unicon-condition-point:before {
  content: "";
}

.unicon-condition-wait-point:before {
  content: "";
}

.unicon-container-software:before {
  content: "";
}

.unicon-contour-finding:before {
  content: "";
}

.unicon-contrast:before {
  content: "";
}

.unicon-copy-file:before {
  content: "";
}

.unicon-copy:before {
  content: "";
}

.unicon-course:before {
  content: "";
}

.unicon-credentials:before {
  content: "";
}

.unicon-crop:before {
  content: "";
}

.unicon-cube-view:before {
  content: "";
}

.unicon-cube:before {
  content: "";
}

.unicon-currency-dollar:before {
  content: "";
}

.unicon-currency:before {
  content: "";
}

.unicon-cursor-1:before {
  content: "";
}

.unicon-cursor-2:before {
  content: "";
}

.unicon-cursor-alt:before {
  content: "";
}

.unicon-cursor:before {
  content: "";
}

.unicon-curve-auto-colon:before {
  content: "";
}

.unicon-curve-manual:before {
  content: "";
}

.unicon-cut-in-half:before {
  content: "";
}

.unicon-cut:before {
  content: "";
}

.unicon-dashboard-reference:before {
  content: "";
}

.unicon-dashboard:before {
  content: "";
}

.unicon-data-1:before {
  content: "";
}

.unicon-data-base-alt:before {
  content: "";
}

.unicon-data-base:before {
  content: "";
}

.unicon-debug:before {
  content: "";
}

.unicon-delete:before {
  content: "";
}

.unicon-delivery-parcel:before {
  content: "";
}

.unicon-delivery-truck:before {
  content: "";
}

.unicon-delivery:before {
  content: "";
}

.unicon-departure:before {
  content: "";
}

.unicon-devices:before {
  content: "";
}

.unicon-diagram:before {
  content: "";
}

.unicon-dicom-overlay:before {
  content: "";
}

.unicon-direct-link:before {
  content: "";
}

.unicon-direction-right-01:before {
  content: "";
}

.unicon-direction-straight-right:before {
  content: "";
}

.unicon-direction-straight:before {
  content: "";
}

.unicon-document-add:before {
  content: "";
}

.unicon-document-attachment:before {
  content: "";
}

.unicon-document-blank:before {
  content: "";
}

.unicon-document-download:before {
  content: "";
}

.unicon-document:before {
  content: "";
}

.unicon-dot-mark:before {
  content: "";
}

.unicon-down-to-bottom:before {
  content: "";
}

.unicon-download-study:before {
  content: "";
}

.unicon-download:before {
  content: "";
}

.unicon-drag-horizontal:before {
  content: "";
}

.unicon-drag-vertical:before {
  content: "";
}

.unicon-draggable:before {
  content: "";
}

.unicon-draw:before {
  content: "";
}

.unicon-drop-photo-filled:before {
  content: "";
}

.unicon-drop-photo:before {
  content: "";
}

.unicon-earth-americas:before {
  content: "";
}

.unicon-earth-europe-africa:before {
  content: "";
}

.unicon-earth-filled:before {
  content: "";
}

.unicon-earth:before {
  content: "";
}

.unicon-edge-enhancement:before {
  content: "";
}

.unicon-edit-off:before {
  content: "";
}

.unicon-edit:before {
  content: "";
}

.unicon-edt-loop:before {
  content: "";
}

.unicon-email-new:before {
  content: "";
}

.unicon-email:before {
  content: "";
}

.unicon-enterprise:before {
  content: "";
}

.unicon-erase:before {
  content: "";
}

.unicon-error-outline:before {
  content: "";
}

.unicon-error:before {
  content: "";
}

.unicon-event-schedule:before {
  content: "";
}

.unicon-event:before {
  content: "";
}

.unicon-events-alt:before {
  content: "";
}

.unicon-events:before {
  content: "";
}

.unicon-explore:before {
  content: "";
}

.unicon-export:before {
  content: "";
}

.unicon-eyedropper:before {
  content: "";
}

.unicon-face-dissatisfied:before {
  content: "";
}

.unicon-face-satisfied:before {
  content: "";
}

.unicon-fade:before {
  content: "";
}

.unicon-favorite-filled:before {
  content: "";
}

.unicon-favorite:before {
  content: "";
}

.unicon-file-storage:before {
  content: "";
}

.unicon-filter-edit:before {
  content: "";
}

.unicon-filter:before {
  content: "";
}

.unicon-finance:before {
  content: "";
}

.unicon-fingerprint-recognition:before {
  content: "";
}

.unicon-fire:before {
  content: "";
}

.unicon-flag-filled:before {
  content: "";
}

.unicon-flag:before {
  content: "";
}

.unicon-flash-filled:before {
  content: "";
}

.unicon-flash:before {
  content: "";
}

.unicon-flow-connection:before {
  content: "";
}

.unicon-folder-add:before {
  content: "";
}

.unicon-folder-shared:before {
  content: "";
}

.unicon-folder:before {
  content: "";
}

.unicon-folders:before {
  content: "";
}

.unicon-forum:before {
  content: "";
}

.unicon-game-console:before {
  content: "";
}

.unicon-gamification:before {
  content: "";
}

.unicon-gift:before {
  content: "";
}

.unicon-globe:before {
  content: "";
}

.unicon-glyph-caution-inverted:before {
  content: "";
}

.unicon-glyph-caution:before {
  content: "";
}

.unicon-glyph-circle-fill:before {
  content: "";
}

.unicon-glyph-square-fill:before {
  content: "";
}

.unicon-glyph-undefined:before {
  content: "";
}

.unicon-gradient:before {
  content: "";
}

.unicon-grid:before {
  content: "";
}

.unicon-group-objects-new:before {
  content: "";
}

.unicon-group-objects-save:before {
  content: "";
}

.unicon-group:before {
  content: "";
}

.unicon-growth:before {
  content: "";
}

.unicon-gui-management:before {
  content: "";
}

.unicon-gui:before {
  content: "";
}

.unicon-hashtag:before {
  content: "";
}

.unicon-headphones:before {
  content: "";
}

.unicon-headset:before {
  content: "";
}

.unicon-help-filled:before {
  content: "";
}

.unicon-help:before {
  content: "";
}

.unicon-hole-filling:before {
  content: "";
}

.unicon-home:before {
  content: "";
}

.unicon-ibm-cloud-pak-security:before {
  content: "";
}

.unicon-iCA-2D:before {
  content: "";
}

.unicon-idea:before {
  content: "";
}

.unicon-identification:before {
  content: "";
}

.unicon-image-copy:before {
  content: "";
}

.unicon-image-search-alt:before {
  content: "";
}

.unicon-image-search:before {
  content: "";
}

.unicon-image:before {
  content: "";
}

.unicon-in-progress:before {
  content: "";
}

.unicon-incomplete:before {
  content: "";
}

.unicon-increase-level:before {
  content: "";
}

.unicon-industry:before {
  content: "";
}

.unicon-information-filled:before {
  content: "";
}

.unicon-information:before {
  content: "";
}

.unicon-insert-page:before {
  content: "";
}

.unicon-insert-syntax:before {
  content: "";
}

.unicon-integration:before {
  content: "";
}

.unicon-interactive-segmentation-cursor:before {
  content: "";
}

.unicon-intersect:before {
  content: "";
}

.unicon-inventory-management:before {
  content: "";
}

.unicon-keyboard:before {
  content: "";
}

.unicon-language:before {
  content: "";
}

.unicon-laptop:before {
  content: "";
}

.unicon-lasso-polygon:before {
  content: "";
}

.unicon-lasso:before {
  content: "";
}

.unicon-launch-study-1:before {
  content: "";
}

.unicon-launch-study-2:before {
  content: "";
}

.unicon-launch:before {
  content: "";
}

.unicon-layers:before {
  content: "";
}

.unicon-legend:before {
  content: "";
}

.unicon-license-draft:before {
  content: "";
}

.unicon-lifesaver:before {
  content: "";
}

.unicon-light-filled:before {
  content: "";
}

.unicon-light:before {
  content: "";
}

.unicon-lightning:before {
  content: "";
}

.unicon-link:before {
  content: "";
}

.unicon-list-boxes:before {
  content: "";
}

.unicon-list-bulleted:before {
  content: "";
}

.unicon-list-checked:before {
  content: "";
}

.unicon-list-dropdown:before {
  content: "";
}

.unicon-list-numbered:before {
  content: "";
}

.unicon-list:before {
  content: "";
}

.unicon-location-current:before {
  content: "";
}

.unicon-location:before {
  content: "";
}

.unicon-locked:before {
  content: "";
}

.unicon-login:before {
  content: "";
}

.unicon-logo-delicious:before {
  content: "";
}

.unicon-logo-digg:before {
  content: "";
}

.unicon-logo-discord:before {
  content: "";
}

.unicon-logo-facebook:before {
  content: "";
}

.unicon-logo-flickr:before {
  content: "";
}

.unicon-logo-github:before {
  content: "";
}

.unicon-logo-google:before {
  content: "";
}

.unicon-logo-instagram:before {
  content: "";
}

.unicon-logo-linkedin:before {
  content: "";
}

.unicon-logo-livestream:before {
  content: "";
}

.unicon-logo-medium:before {
  content: "";
}

.unicon-logo-pinterest:before {
  content: "";
}

.unicon-logo-quora:before {
  content: "";
}

.unicon-logo-skype:before {
  content: "";
}

.unicon-logo-slack:before {
  content: "";
}

.unicon-logo-snapchat:before {
  content: "";
}

.unicon-logo-stumbleupon:before {
  content: "";
}

.unicon-logo-tumblr:before {
  content: "";
}

.unicon-logo-twitter:before {
  content: "";
}

.unicon-logo-vmware:before {
  content: "";
}

.unicon-logo-xing:before {
  content: "";
}

.unicon-logo-youtube:before {
  content: "";
}

.unicon-logout:before {
  content: "";
}

.unicon-mac-command:before {
  content: "";
}

.unicon-mac-option:before {
  content: "";
}

.unicon-mac-shift:before {
  content: "";
}

.unicon-machine-learning:before {
  content: "";
}

.unicon-magic-wand-filled:before {
  content: "";
}

.unicon-magic-wand:before {
  content: "";
}

.unicon-magnify:before {
  content: "";
}

.unicon-manage-protection:before {
  content: "";
}

.unicon-map-center:before {
  content: "";
}

.unicon-map-identify:before {
  content: "";
}

.unicon-map:before {
  content: "";
}

.unicon-maximize:before {
  content: "";
}

.unicon-media-cast:before {
  content: "";
}

.unicon-media-library:before {
  content: "";
}

.unicon-menu:before {
  content: "";
}

.unicon-meter-alt:before {
  content: "";
}

.unicon-meter:before {
  content: "";
}

.unicon-microphone-filled:before {
  content: "";
}

.unicon-microphone:before {
  content: "";
}

.unicon-microscope:before {
  content: "";
}

.unicon-migrate-alt:before {
  content: "";
}

.unicon-military-camp:before {
  content: "";
}

.unicon-minimize:before {
  content: "";
}

.unicon-misuse-alt:before {
  content: "";
}

.unicon-misuse-outline:before {
  content: "";
}

.unicon-misuse:before {
  content: "";
}

.unicon-mobile-add:before {
  content: "";
}

.unicon-mobile:before {
  content: "";
}

.unicon-model-alt:before {
  content: "";
}

.unicon-model:before {
  content: "";
}

.unicon-money:before {
  content: "";
}

.unicon-move:before {
  content: "";
}

.unicon-mpr-toggle:before {
  content: "";
}

.unicon-music:before {
  content: "";
}

.unicon-name-space:before {
  content: "";
}

.unicon-navaid-military:before {
  content: "";
}

.unicon-new-tab:before {
  content: "";
}

.unicon-nominal:before {
  content: "";
}

.unicon-not-available:before {
  content: "";
}

.unicon-notebook-reference:before {
  content: "";
}

.unicon-notebook:before {
  content: "";
}

.unicon-notification-filled:before {
  content: "";
}

.unicon-notification-new:before {
  content: "";
}

.unicon-notification:before {
  content: "";
}

.unicon-opacity:before {
  content: "";
}

.unicon-open-panel-left:before {
  content: "";
}

.unicon-open-panel-top:before {
  content: "";
}

.unicon-ordinal:before {
  content: "";
}

.unicon-overflow-menu-horizontal:before {
  content: "";
}

.unicon-overflow-menu-vertical:before {
  content: "";
}

.unicon-overlay:before {
  content: "";
}

.unicon-package:before {
  content: "";
}

.unicon-page-break:before {
  content: "";
}

.unicon-paint-brush-alt:before {
  content: "";
}

.unicon-paint-brush:before {
  content: "";
}

.unicon-pan-horizontal:before {
  content: "";
}

.unicon-pan-vertical:before {
  content: "";
}

.unicon-panel-expansion:before {
  content: "";
}

.unicon-partnership:before {
  content: "";
}

.unicon-password:before {
  content: "";
}

.unicon-pause:before {
  content: "";
}

.unicon-pedestrian-child:before {
  content: "";
}

.unicon-pedestrian-family:before {
  content: "";
}

.unicon-pen-fountain:before {
  content: "";
}

.unicon-pen:before {
  content: "";
}

.unicon-pending:before {
  content: "";
}

.unicon-percentage-filled:before {
  content: "";
}

.unicon-percentage:before {
  content: "";
}

.unicon-phone-ip:before {
  content: "";
}

.unicon-phone:before {
  content: "";
}

.unicon-piggy-bank-slot:before {
  content: "";
}

.unicon-piggy-bank:before {
  content: "";
}

.unicon-pin-filled:before {
  content: "";
}

.unicon-pin:before {
  content: "";
}

.unicon-plane:before {
  content: "";
}

.unicon-play-filled-alt:before {
  content: "";
}

.unicon-play-filled:before {
  content: "";
}

.unicon-play-outline:before {
  content: "";
}

.unicon-play:before {
  content: "";
}

.unicon-playlist:before {
  content: "";
}

.unicon-policy:before {
  content: "";
}

.unicon-popup:before {
  content: "";
}

.unicon-portfolio:before {
  content: "";
}

.unicon-power:before {
  content: "";
}

.unicon-presentation-file:before {
  content: "";
}

.unicon-printer:before {
  content: "";
}

.unicon-product:before {
  content: "";
}

.unicon-progress-bar:before {
  content: "";
}

.unicon-purchase:before {
  content: "";
}

.unicon-query:before {
  content: "";
}

.unicon-quotes:before {
  content: "";
}

.unicon-radio-button-checked:before {
  content: "";
}

.unicon-radio-button:before {
  content: "";
}

.unicon-rain-drop:before {
  content: "";
}

.unicon-receipt:before {
  content: "";
}

.unicon-recently-viewed:before {
  content: "";
}

.unicon-recommend:before {
  content: "";
}

.unicon-recording-filled-alt:before {
  content: "";
}

.unicon-recording-filled:before {
  content: "";
}

.unicon-recording:before {
  content: "";
}

.unicon-redo:before {
  content: "";
}

.unicon-registration:before {
  content: "";
}

.unicon-reminder:before {
  content: "";
}

.unicon-renew:before {
  content: "";
}

.unicon-repeat:before {
  content: "";
}

.unicon-reply-all:before {
  content: "";
}

.unicon-reply:before {
  content: "";
}

.unicon-report-data:before {
  content: "";
}

.unicon-report:before {
  content: "";
}

.unicon-request-quote:before {
  content: "";
}

.unicon-reset-alt:before {
  content: "";
}

.unicon-reset:before {
  content: "";
}

.unicon-restart:before {
  content: "";
}

.unicon-result:before {
  content: "";
}

.unicon-roadmap:before {
  content: "";
}

.unicon-rocket:before {
  content: "";
}

.unicon-rotate-180:before {
  content: "";
}

.unicon-rotate-360:before {
  content: "";
}

.unicon-row:before {
  content: "";
}

.unicon-rss:before {
  content: "";
}

.unicon-rule:before {
  content: "";
}

.unicon-ruler-alt:before {
  content: "";
}

.unicon-ruler:before {
  content: "";
}

.unicon-run:before {
  content: "";
}

.unicon-save:before {
  content: "";
}

.unicon-scale:before {
  content: "";
}

.unicon-scales:before {
  content: "";
}

.unicon-scalpel-cursor:before {
  content: "";
}

.unicon-scalpel-lasso:before {
  content: "";
}

.unicon-scalpel:before {
  content: "";
}

.unicon-scan:before {
  content: "";
}

.unicon-screen:before {
  content: "";
}

.unicon-script:before {
  content: "";
}

.unicon-search-locate:before {
  content: "";
}

.unicon-search:before {
  content: "";
}

.unicon-security:before {
  content: "";
}

.unicon-select-01:before {
  content: "";
}

.unicon-select-02:before {
  content: "";
}

.unicon-select-window:before {
  content: "";
}

.unicon-send-alt-filled:before {
  content: "";
}

.unicon-send-alt:before {
  content: "";
}

.unicon-send-filled:before {
  content: "";
}

.unicon-send-to-back:before {
  content: "";
}

.unicon-send:before {
  content: "";
}

.unicon-server-time:before {
  content: "";
}

.unicon-settings-adjust:before {
  content: "";
}

.unicon-settings:before {
  content: "";
}

.unicon-shape-except:before {
  content: "";
}

.unicon-share:before {
  content: "";
}

.unicon-shopping-bag:before {
  content: "";
}

.unicon-shopping-cart:before {
  content: "";
}

.unicon-shopping-catalog:before {
  content: "";
}

.unicon-shrink-screen:before {
  content: "";
}

.unicon-shuffle:before {
  content: "";
}

.unicon-signal-strength:before {
  content: "";
}

.unicon-skill-level:before {
  content: "";
}

.unicon-smoothing-cursor:before {
  content: "";
}

.unicon-smoothing:before {
  content: "";
}

.unicon-soccer:before {
  content: "";
}

.unicon-software:before {
  content: "";
}

.unicon-spell-check:before {
  content: "";
}

.unicon-split-discard:before {
  content: "";
}

.unicon-split-screen:before {
  content: "";
}

.unicon-split:before {
  content: "";
}

.unicon-spray-paint:before {
  content: "";
}

.unicon-stacked-scrolling-1:before {
  content: "";
}

.unicon-stamp:before {
  content: "";
}

.unicon-star-filled:before {
  content: "";
}

.unicon-star:before {
  content: "";
}

.unicon-stay-inside:before {
  content: "";
}

.unicon-stop-filled-alt:before {
  content: "";
}

.unicon-stop:before {
  content: "";
}

.unicon-store:before {
  content: "";
}

.unicon-string-integer:before {
  content: "";
}

.unicon-string-text:before {
  content: "";
}

.unicon-sub-volume:before {
  content: "";
}

.unicon-subtract-alt:before {
  content: "";
}

.unicon-subtract:before {
  content: "";
}

.unicon-table:before {
  content: "";
}

.unicon-tablet:before {
  content: "";
}

.unicon-tag-group:before {
  content: "";
}

.unicon-tag:before {
  content: "";
}

.unicon-task-add:before {
  content: "";
}

.unicon-task-approved:before {
  content: "";
}

.unicon-task-view:before {
  content: "";
}

.unicon-task:before {
  content: "";
}

.unicon-template:before {
  content: "";
}

.unicon-term:before {
  content: "";
}

.unicon-terminal:before {
  content: "";
}

.unicon-text-annotation-toggle:before {
  content: "";
}

.unicon-text-bold:before {
  content: "";
}

.unicon-text-color:before {
  content: "";
}

.unicon-text-creation:before {
  content: "";
}

.unicon-text-fill:before {
  content: "";
}

.unicon-text-font:before {
  content: "";
}

.unicon-text-line-spacing:before {
  content: "";
}

.unicon-text-mining-applier:before {
  content: "";
}

.unicon-text-mining:before {
  content: "";
}

.unicon-text-underline:before {
  content: "";
}

.unicon-theater:before {
  content: "";
}

.unicon-thumbnail-1:before {
  content: "";
}

.unicon-thumbnail-2:before {
  content: "";
}

.unicon-thumbs-down:before {
  content: "";
}

.unicon-thumbs-up:before {
  content: "";
}

.unicon-ticket:before {
  content: "";
}

.unicon-time:before {
  content: "";
}

.unicon-tool-box:before {
  content: "";
}

.unicon-tools-alt:before {
  content: "";
}

.unicon-tools:before {
  content: "";
}

.unicon-touch-1:before {
  content: "";
}

.unicon-touch-interaction:before {
  content: "";
}

.unicon-translate:before {
  content: "";
}

.unicon-trash-can:before {
  content: "";
}

.unicon-trophy:before {
  content: "";
}

.unicon-types:before {
  content: "";
}

.unicon-umbrella:before {
  content: "";
}

.unicon-unlink:before {
  content: "";
}

.unicon-unlocked:before {
  content: "";
}

.unicon-upload:before {
  content: "";
}

.unicon-user-avatar-filled-alt:before {
  content: "";
}

.unicon-user-avatar-filled:before {
  content: "";
}

.unicon-user-avatar:before {
  content: "";
}

.unicon-user-multiple:before {
  content: "";
}

.unicon-user:before {
  content: "";
}

.unicon-uv-index:before {
  content: "";
}

.unicon-video-add:before {
  content: "";
}

.unicon-video-chat:before {
  content: "";
}

.unicon-video:before {
  content: "";
}

.unicon-view-filled:before {
  content: "";
}

.unicon-view-mode-1:before {
  content: "";
}

.unicon-view-mode-2:before {
  content: "";
}

.unicon-view-next:before {
  content: "";
}

.unicon-view-off:before {
  content: "";
}

.unicon-view:before {
  content: "";
}

.unicon-virtual-column-key:before {
  content: "";
}

.unicon-virtual-private-cloud-alt:before {
  content: "";
}

.unicon-visual-recognition:before {
  content: "";
}

.unicon-volume-block-storage:before {
  content: "";
}

.unicon-volume-up:before {
  content: "";
}

.unicon-wallet:before {
  content: "";
}

.unicon-warning-alt-filled:before {
  content: "";
}

.unicon-warning-alt:before {
  content: "";
}

.unicon-warning-filled:before {
  content: "";
}

.unicon-warning:before {
  content: "";
}

.unicon-wheat:before {
  content: "";
}

.unicon-wifi:before {
  content: "";
}

.unicon-wikis:before {
  content: "";
}

.unicon-word-cloud:before {
  content: "";
}

.unicon-workspace:before {
  content: "";
}

.unicon-zoom-area:before {
  content: "";
}

.unicon-zoom-in-area:before {
  content: "";
}

.unicon-zoom-in:before {
  content: "";
}

.unicon-zoom-out-area:before {
  content: "";
}

.unicon-zoom-out:before {
  content: "";
}

.unicon-zoom-reset:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_unicons_min_3ffd7f.css.map*/